<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="classicalMusicBean"
          class="com.hex.springcourse.ClassicalMusic"
          factory-method="getClassicalMusic"/>
    <bean id="rockMusicBean"
          class="com.hex.springcourse.RockMusic"
          factory-method="getRockMusic"/>
    <bean id="metalMusicBean"
          class="com.hex.springcourse.MetalMusic"
          factory-method="getMetalMusic"/>

    <bean id="musicPlayerBean"
          class="com.hex.springcourse.MusicPlayer"
          init-method="init"
          destroy-method="destroy"
    >
        <property name="musicList">
            <list>
                <ref bean="classicalMusicBean"/>
                <ref bean="rockMusicBean"/>
                <ref bean="metalMusicBean"/>
            </list>
        </property>

<!--        <property name="name" value="MyPlayer"/>-->
        <property name="name" value="${musicPlayer.name}"/>
<!--        <property name="volume" value="95"/>-->
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>